---
---

<section class="w-full flex flex-col justify-center items-center relative top-[60px]">
    <div class="flex flex-col justify-center items-center">
    <h1 class="text-[35px] text-center font-black text-gray-700">MANOS CURATIVAS</h1>
    <span class="w-[50%] bg-[#C28E26] h-[2px] "></span>
</div>
    <p class="text-spacio text-center p-[20px] text-gray-600 mt-6 text-[17.4px]">
        ¡Tu cuerpo se merece un capricho! <br>  Aprovecha nuestro servicio de masajes
        en el hotel. <br><br> El masaje, como complemento de la medicina, se practica
        desde hace aproximadamente entre 4000 y 5000 años.  <br> <br> La gran altitud de
        Cusco te exigirá más energía para respirar, caminar y disfrutar de las
        visitas turísticas. <br> Después de todos los beneficios de este masaje
        altamente energizante, tus músculos recuperarán toda su energía y
        equilibrio, y te sentirás <br> como nuevo.
    </p>
</section>

<style>
    .text-spacio{
        margin-top: 30px;
    }
</style>