---
const currentLocale = Astro.currentLocale || "es";

const translations = {
  es: {
    services: [
      { name: "Masaje sueco restaurador", price: 50 },
      { name: "Masaje relajante y aromaterapia", price: 55 },
      { name: "Reflexología", price: 45 },
      { name: "Shiatsu japonés", price: 45 },
      { name: "Masaje terapéutico y deportivo", price: 45 },
    ],
  },
  en: {
    services: [
      { name: "Restoring Swedish Massage", price: 50 },
      { name: "Relaxation and Aromatherapy Massage", price: 55 },
      { name: "Shiatsu", price: 45 },
      { name: "Therapeutic and Sports Massage", price: 45 },
      { name: "Reflexology", price: 45 },

    ],
  },
};

const t = translations[currentLocale as keyof typeof translations];
---
<section class="flex justify-center pt-[60px]">
  <ul class="flex flex-col gap-[20px] text-[20px] text-gray-700 w-[500px] p-[40px]">
    {t.services.map((service) => (
      <li class="flex items-center justify-between">
        <span class="poppins text-bold text-[#4E5250]">{service.name}</span>

        <span class="flex-1 mx-3 relative top-[3px] border-dashed border-[#912424] border-t-[0.5px] h-[1px]"></span>

        <span>${service.price}</span>
      </li>
    ))}
  </ul>
</section>
