---
---


<section class="flex justify-center pt-[20px]">

    <ul class="flex flex-col gap-[20px] text-[20px] text-gray-700 w-[500px] p-[40px]">
        <li class="flex items-center justify-between">Masaje sueco restaurador <span class="w-[20%] relative top-[3px] border-dashed border-[#912424] border-t-2 h-[5px]"></span> <span>$50</span></li>
        <li class="flex items-center justify-between">Masaje relajante y aromaterapia <span class="w-[20%] relative top-[3px] border-dashed border-[#912424] border-t-2 h-[5px]"></span><span>$55</span></li>
         <li class="flex items-center justify-between">Reflexología<span class="w-[50%] relative top-[3px] border-dashed border-[#912424] border-t-2 h-[5px]"></span><span>$45</span></li>
         <li class="flex items-center justify-between">Shiatsu japonés<span class="w-[45%] relative top-[3px] border-dashed border-[#912424] border-t-2 h-[5px]"></span> <span>$45</span></li>
         <li class="flex items-center justify-between">Masaje terapéutico y deportivo<span class="w-[20%] relative top-[3px] border-dashed border-[#912424] border-t-2 h-[5px]"></span> <span>$45</span></li>
    </ul>

</section>
