---
interface Section {
    title: string;
    text: string;
    image: string;
    alt: string;
}
const hotelData = await Astro.glob("../../content/hotel-info.md");
const { frontmatter } = hotelData[0];
const sections = frontmatter.sections as Section[];
---

<div class="container__detail--hotel  flex    justify-center items-center">
    <div class="w-[90%] grid grid-cols-3 max-md:grid-cols-2 max-sm:grid-cols-1 gap-[40px] ">
        {
            sections.map((section) => (
                <div class="gap-[10px] flex flex-col items-center justify-center">
                    <img src={section.image} alt={section.alt} />
                    <p class="text-gray-600 ">{section.text}</p>
                </div>
            ))
        }
    </div>
</div>

<style>
    .container__detail--hotel{
        margin-top: 48px;
        margin-bottom: 80px;
    }
</style>
