---
import { Image } from "astro:assets";

import lobby from "../../assets/images/Lobby-5.webp"
import pasadizo from "../../assets/images/pasadizo2.webp"

---

<div class="w-[80%] flex justify-center items-center">
    <div class="w-[100%] flex flex-wrap gap-[70px] justify-around items-center ">
        
        <Image class="w-[27em] bg-white p-[12px] shadow-black shadow-2xl" src={pasadizo} alt="pasadizo"/>

        <Image class="w-[27em]  bg-white p-[12px] shadow-black shadow-2xl" src={lobby} alt="Lobby"/>
     
    </div>
</div>
