---
import HotelDetail from "../Hoteles/HotelDetail.astro";
import HotelImg from "../Hoteles/Hotel-img.astro";
---

<section class=" stay__container--feature">
    <h1 class="title text-[32px]">GRAN LUGAR <span class="title title--feature stay__span-title ">PARA QUEDARSE</span>Y DISFRUTAR</h1>
    <div class="w-[90%]">
<p class="stay__parrafo text-gray-700 text-center pt-[20px] text-[18px]">
    El <em>Terra Andina Mansión Colonial</em> es una <strong>Casona Colonial</strong> en el centro
    histórico de Cusco, que fue la capital del Imperio Inca, Cusco,
    Perú. Es un Hotel de Primera Clase ubicado a media cuadra de la
    encantadora Plaza San Pedro, el mercado de San Pedro diseñado por
    Gustavo Eiffel, la Iglesia de San Pedro y a sólo cuatro cuadras de
    la Plaza Principal.
</p>
    </div>
    <HotelDetail />
    <HotelImg />
</section>

<style>
  

    .stay__span-title{
        border-bottom: 1px solid rgb(221, 164, 9);
    }
    .stay__container--feature {
        display: flex;
        margin-top: 80px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
   
    .stay__parrafo {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
