---
import { getRoomIncludes } from "../../content/rooms-includes";

const currentLocale = Astro.currentLocale || 'es';
const iconsRoomIncludes = getRoomIncludes(currentLocale);
---

<div class="grid grid-cols-5 max-md:grid-cols-4 max-sm:grid-cols-2 gap-[50px] justify-around items-center w-[60%]">
  {
    iconsRoomIncludes.map((item) => (
      <div class="flex flex-col gap-[15px] justify-center items-center">
        <img loading="lazy" class="w-[64px]" src={item.image} alt={item.label} />
        <span class="text-gray-600 text-[14px]">{item.label}</span>
      </div>
    ))
  }
</div>