---
import { Image } from "astro:assets";
import { getRoomIncludes } from "../../content/rooms-includes";

const iconos = import.meta.glob<{ default: ImageMetadata }>(
  '../../assets/iconos/*.webp',
  { eager: true }
);

const currentLocale = Astro.currentLocale || 'es';
const iconsRoomIncludes = getRoomIncludes(currentLocale);

function getImage(path: string): ImageMetadata {
  const filename = path.split('/').pop();
  const key = `../../assets/iconos/${filename}`;
  return iconos[key]?.default;
}
---

<div class="grid grid-cols-5 max-md:grid-cols-4 max-sm:grid-cols-2 gap-[50px] justify-around items-center w-[60%]">
  {
    iconsRoomIncludes.map((item) => (
      <div class="flex flex-col gap-[15px] justify-center items-center">
        <Image
          loading="lazy"
          class="w-[64px]"
          src={getImage(item.image)}
          alt={item.label}
          width={64}
          height={64}
        />
        <span class="text-gray-600 text-[14px]">{item.label}</span>
      </div>
    ))
  }
</div>