---
import { iconsRoomIncludes } from "../../content/roomsInclude";
---

<div
    class="grid grid-cols-5 max-md:grid-cols-4 max-sm:grid-cols-2 gap-[50px] justify-around items-center w-[60%]"
>
    {
        iconsRoomIncludes.map((data) => (
            <div class="flex flex-col gap-[15px] justify-center items-center">
                <img class="w-[64px]" src={data.image} alt={data.label} />
                <span class="text-gray-600 text-[14px]">{data.label}</span>
            </div>
        ))
    }
</div>
