@import "tailwindcss";


:root {
    --primary-color: #4B0E0E;
    --secondary-color: #5d2727;
    --border-color: #e95454;
    --text-color-primary: white;
    --text-color-gray: #303030;
    --text-color-lista: #54595f;
    --font-family-primary: 'Roboto', serif;
    --font-family-secondary: "Vollkorn", serif;
    --font-family-tercer: 'Alex Brush', curisve;
    --font-family-poppins: 'Poppins', sans-serif;
}



* {
    margin: 0px;
    font-family: var(--font-family-primary);
}

html{
    scroll-behavior: smooth;
}

.title {
    font-family: var(--font-family-secondary);
    margin-bottom: 10px;
}

.container {
    width: 100%;
    margin-top: 50px;
}


.position-style {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.items-nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    gap: 20px;
    margin-top: 14px;
    color: var(--text-color-primary);
}

.container-styleImagen {
    padding: 10px;
    width: max-content;
    -webkit-box-shadow: 6px 8px 15px 0px #828282;
    box-shadow: 6px 8px 15px 0px #828282;
}

a{
    text-decoration: none !important;
}

.text-p {
    width: 260px;
    text-align: start;
    font-size: 30px;
}



   .contacto-section {
        padding: 25px;
        display: flex;
        gap: 70px;
        padding-top: 45px;
    }

    .container-form,
    .container-info {
        width: 50%;
    }

    .container-form {
        display: flex;
        justify-content: flex-end;
    }

    .form-contacto {
        width: 420px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .form-contacto input,
    .form-contacto textarea {
        border: 1px solid #9ca3af;
        padding: 9px;
        border-radius: 7px;
        outline: none;
    }

    .form-contacto button {
        width: 100%;
        background-color: #cec061;
        padding: 10px;
        border-radius: 8px;
        color: white;
        font-weight: 900;
        border: none;
        cursor: pointer;
    }

    /* Información de Contacto */
    .container-info {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 30px;
    }

    .lista-contacto {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: flex-start;
        color: #374151;
        list-style: none;
        padding: 0;
    }

    .lista-contacto li {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .lista-contacto i {
        color: #c08e1f;
    }

    .contacto-titulo {
        font-size: 16.5px;
        padding: 8px;
    }

    /* Mapa */
    .gmap_canvas {
        width: 100%;
    }

    .mapa-iframe {
        width: 80%;
        height: 355px;
        border: none;
    }

    /* Responsive */
    @media (max-width: 1024px) {
        .container-info {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        .contacto-section {
            flex-direction: column;
        }
        .container-form,
        .container-info {
            width: 100%;
        }
        .form-contacto {
            width: 100%;
        }
        .mapa-iframe {
            width: 100%;
        }
    }