---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactoForm from "../../components/Contacto/contacto.astro";
const lang = "en"
const ogImage = "https://res.cloudinary.com/dlgeap8h0/image/upload/Rest_3_ccdipv.webp"
const title = "Contacto";
const description = "Contacto Terra Andina Hotel en Cusco: Calle Unión 184, cerca a Plaza San Pedro. Reservas: +51 987 945 817 o ventas@terraandinahotel.com.";
---

<BaseLayout lang={lang}  title={title} description={description} ogImage={ogImage}>
    <main class="home">
        <ContactoForm />
    </main>
</BaseLayout>
