---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactoForm from "../../components/Contacto/contacto.astro";
const lang = "en"
const ogImage = "https://res.cloudinary.com/dlgeap8h0/image/upload/Rest_3_ccdipv.webp"
const title = "Contact";
const description = "Contact Terra Andina Hotel in Cusco: Calle Unión 184, near Plaza San Pedro. Reservations: +51 987 945 817 or ventas@terraandinahotel.com.";
---

<BaseLayout lang={lang}  title={title} description={description} ogImage={ogImage}>
    <main class="home">
        <ContactoForm />
    </main>
</BaseLayout>
