---
import BaseLayout from "../../layouts/BaseLayout.astro";
import GaleriaSecction from "../../components/Galeria/galeria.astro";

const lang = "en"
const ogImage = "https://res.cloudinary.com/dlgeap8h0/image/upload/repcion_1_mcnh4a.webp"
const title = "Gallery";
const description = "Explore the beauty of our colonial mansion in Cusco. Discover our luxurious rooms, historic courtyard, and every corner of Terra Andina through photos.";
---

<BaseLayout lang={lang}  title={title} description={description} ogImage={ogImage}>
    <main class="home">
        <GaleriaSecction />


    </main>
</BaseLayout>