---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Rooms from "../../components/Inicio/Rooms.astro";
import HistoricCenter from "../../components/Inicio/HistoricCenter.astro";
import AndeandLand from "../../components/Inicio/AndeanLand.astro";
import GuaranteedStay from "../../components/Inicio/GuaranteedStay.astro";
import FormReserva from "../../utils/formReserva.astro";
import FondosHome from "../../components/fondosHome.astro";

const lang = "en"
const ogImage = "https://res.cloudinary.com/dlgeap8h0/image/upload/R6M25442_qbs8cv.webp"
const title = "Home";
const description = "Enjoy Terra Andina Colonial Mansion, a boutique hotel in the heart of Cusco. Colonial luxury, modern comfort and an unbeatable location.";
---

<BaseLayout  lang={lang} title={title} description={description} ogImage={ogImage}>
  <FondosHome />
  <main class="home">
    <FormReserva />
    <HistoricCenter />
    <AndeandLand />
    <Rooms />
    <GuaranteedStay />
  </main>
</BaseLayout>