---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactoForm from "../components/Contacto/contacto.astro";

const title = "Contacto";
const description = "Contacto Terra Andina Hotel en Cusco: Calle Unión 184, cerca a Plaza San Pedro. Reservas: +51 987 945 817 o ventas@terraandinahotel.com.";
---

<BaseLayout title={title} description={description}>
    <main class="home">
        <ContactoForm />
    </main>
</BaseLayout>
