---
import BaseLayout from "../layouts/BaseLayout.astro";
import GaleriaSecction from "../components/Galeria/galeria.astro";

const title = "Galeria";
const description = "Explora la belleza de nuestra casona colonial en Cusco. Descubre en fotos nuestras habitaciones de lujo, el patio histórico y cada rincón de Terra Andina.";
---

<BaseLayout title={title} description={description}>
    <main class="home">
        <GaleriaSecction />


    </main>
</BaseLayout>