---
import BaseLayout from "../layouts/BaseLayout.astro";
import Fondos from "../components/fondos.astro";
import RoomFeatures from "../components/Habitaciones/RoomFeatures.astro";


const title = "Habitaciones";
const description = "Habitaciones Clásicas, Premium y Suites en Cusco. Con calefacción, Smart TV y WiFi. ¡Traslados de cortesía al aeropuerto incluidos!";
---

<BaseLayout title={title} description={description}>
    <Fondos imgFondo={`url(https://i0.wp.com/terraandinahotel.com/wp-content/uploads/2025/12/ban2.jpg?fit=1573%2C600&ssl=1)`} />
    <main class="home">
        <RoomFeatures />
    </main>
</BaseLayout>
