---
import BaseLayout from "../layouts/BaseLayout.astro";
import Fondos from "../components/fondos.astro";
import HotelStay from "../components/Hoteles/HotelStay.astro";

import fondoImagen from "../assets/backgrounds/fachada.webp";

const title = "Hotel";
const description = "Ubicado en una casona colonial cerca a la Plaza San Pedro, Terra Andina ofrece 51 habitaciones de lujo y un servicio de excelencia en Cusco.";
---

<BaseLayout title={title} description={description}>
    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    <main class="home">
        <HotelStay />
    </main>

</BaseLayout>
