---
import BaseLayout from "../layouts/BaseLayout.astro";
import MasajeConsejo from "../components/Masages/MasajeConsejo.astro";
import fondoImagen from "../assets/backgrounds/Salon-masajes-2.webp";
import Fondos from "../components/fondos.astro";
import MasajesPasos from "../components/Masages/masajepasos.astro";
import MasajePrecio from "../components/Masages/precios.astro";
import OpenMassages from "../components/Masages/OpenMassages.astro";


const title = "Masajes";
const description = "Recupera tu energía en Cusco con nuestras 'Manos Curativas'. Masajes suecos, shiatsu y reflexología disponibles todos los días de 8am a 10pm.";
---

<BaseLayout title={title} description={description}>
    <Fondos imgFondo={`url(${fondoImagen.src})`} />
    <main>
       <MasajeConsejo />
       <MasajesPasos />
       <MasajePrecio />
       <OpenMassages />
    </main>
</BaseLayout>
