---
import { Image } from "astro:assets";
import pasadizVert from "../../assets/images/pasadizo-vert.webp";

---

<section class="w-full flex justify-center items-center pt-[40px] flex-wrap">
	<div class="w-[80%] max-lg:w-full flex justify-center items-center gap-[30px] max-md:flex-col p-[2em]">
		<div class="flex flex-col justify-center items-start gap-[20px] max-md:items-center">
			<h3 class="text-start title text-3xl">
				UNA ESTADÍA EN EL HOTEL TERRA ANDINA TE SITÚA EN EL CORAZÓN DE
				CUSCO.
			</h3>

			<a href="#" class="bg-[#B89738] rounded-[5px] text-white w-[170px] justify-center p-[10px] flex gap-[10px]">
				<i class="bi bi-arrow-right"></i>
				ABOUT US
			</a>
		</div>

		<div class="hotel-intro__content">
			<h2 class="title text-4xl">
				TERRA ANDINA <br />
				MANSION COLONIAL
			</h2>

			<p class="text-gray-700 text-[15px]">
				Una <strong>mansión colonial</strong> en el distrito histórico de la antigua 
				capital del Imperio Inca, <strong>Cusco, Perú</strong>. 
				<em>Terra Andina Colonial Mansion</em> es un <strong>hotel de primera clase</strong> 
				ubicado a media cuadra de la encantadora Plaza San Pedro, el Mercado de San Pedro 
				(diseñado por Eiffel), la Iglesia de San Pedro y a solo cuatro cuadras de la 
				<strong>Plaza de Armas de Cusco</strong>.
			</p>

			<ul class="text-[13px] text-gray-500 pt-[20px]">
				<li class="flex gap-[10px] items-center">
					<i class="text-red-800 bi bi-check-circle-fill"></i>
					Es el punto de partida perfecto para hacer de su visita a Cusco
					y Machu Picchu una experiencia inolvidable.
				</li>
				<li class="flex gap-[10px] items-center">
					<i class="text-red-800 bi bi-check-circle-fill"></i>
					Nuestro personal amable y profesional le espera para garantizarle
					una estancia agradable.
				</li>
			</ul>
		</div>

		<div class="p-[10px] bg-white shadow-black shadow-2xl">
			<Image loading="lazy" class="w-[52em]" src={pasadizVert} alt="pasadizo-terraAndinaHote"/>
		</div>
	</div>
</section>
