---
interface Section {
    text: string;
    image: string;
    alt: string;
}
const servicioHotel = import.meta.glob("../../content/info-inicio.md", {
    eager: true,
});
const servicioData = Object.values(servicioHotel) as any[];
const { frontmatter } = servicioData[0];
const sections = frontmatter.sections as Section[];

---

<section class="section-img-casona-colonial container-web pt-[5em]">
    <h2 class="title text-center font-light text-4xl text-gray-700">
        LA ESTANCIA PERFECTA, GARANTIZADA
    </h2>
    <h3 class="text-subtitle pt-[10px]">
        Numerosos servicios para garantizar su relax y comodidad.
    </h3>

    <div class="flex justify-center pt-[30px] pb-[60px] items-center">
        <div
            class="w-[70%] max-lg:w-[95%] grid grid-cols-5 max-md:grid-cols-3 max-sm:grid-cols-2 gap-[50px]"
        >
            {
                sections.map((section) => (
                    <div class="flex text-center gap-[18px] flex-col justify-center items-center ">
                        <img src={section.image} alt={section.alt} />
                        <span class="text-[14px] text-gray-700">
                            {section.text}
                        </span>
                    </div>
                ))
            }
        </div>
    </div>
</section>

<style>
    .text-subtitle {
        text-align: center;
        font-size: 18px;
        color: var(--text-color-gray);
    }
</style>
