---
import SectionImagen from "./sectionImagen.astro";

---

<section class="w-full flex flex-col jutify-center items-center">
    <h1 class="title text-4xl  text-center p-[4px] pt-[2em] pb-[0.8em]">
        UNA CASONA COLONIAL <br> EN EL CENTRO HISTORICO DE CUSCO
    </h1>
    <SectionImagen />
</section>

<style>
    .rooms {
        text-align: center;
    }
    
    .rooms__desc {
        margin-bottom: 40px;
        color: #777;
    }
</style>
