---
import CardRooms from "./CardRooms.astro";
---

<section class="w-full flex flex-col justify-center items-center">
  <h2 class="title text-center text-4xl  pt-[2em]">NUESTRAS HABITACIONES Y SUITES</h2>
  <h3 class="text-center text-[21px] text-gray-700">Selecciona tu alojamiento. Nosotros nos encargamos del resto.</h3>

  <CardRooms />
</section>


