---
import { Image } from "astro:assets";

import barVert from "../../assets/images/Bar-vert.webp";
import repcionTah from "../../assets/images/repcion-tah.webp";
---

<div class="w-full flex justify-center max-md:flex-col gap-[35px] p-[2em] items-center">
    <div class="p-[13px] bg-white shadow-black shadow-2xl">
        <Image class="w-[18em]" src={barVert} alt="bar-vert" />
    </div>
    <div class="container-seccion-imagenes">
        <div class="p-[13px] bg-white shadow-black shadow-2xl">
            <Image class="w-[30em]" src={repcionTah} alt="repcion-tah" />
        </div>
        <span class="span-imagen">Nuestro Hotel</span>
    </div>
</div>

<style>
    .span-imagen {
        color: #ddac1d;
        font-size: 64px;
        position: relative;
        top: 30px;
        font-family: var(--font-family-tercer);
        font-weight: lighter;
        font-style: normal;
    }
</style>
