---
const { imgFondo } = Astro.props;
---

<section class="fondo-section">
</section>

<style define:vars={{ imgFondo }}>
    .fondo-section {
        width: 100%;
        height: 38em;
        background-image: var(--imgFondo);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>