---
---

<div class="header-top max-md:hidden justify-center items-center">
  <div class="flex p-[10px] items-center gap-[30px] justify-end w-[90%] max-sm:w-[90%]">
    <a href="mailto:sales@terraandinahotel.com" class="header-top__contact">
      <i class="bi bi-envelope"></i>
      sales@terraandinahotel.com
    </a>

    <a href="https://wa.link/i96xrh" class="text-white hover:text-green-300 flex gap-[8px]">
      <i class=" bi bi-whatsapp"></i>+51 987 945 817
    </a>

  </div>
</div>
<style>
  .header-top {
    background: var(--primary-color);
  }
  .header-top__contact {
    position: relative;
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
  }
</style>
