---

---

<div id="booking-engine-container" class="flex w-[40%] justify-center items-center pt-[50px] w-full"></div>

<script is:inline>
    window.addEventListener("load", function () {
        let id_partner = "2992";
        let container_div = "#booking-engine-container";
        let lang = "es";
        let engine_color = "#d99e23";

        if (typeof FNSbooking !== "undefined") {
            let fnsbooking = new FNSbooking(
                id_partner,
                container_div,
                lang,
                engine_color,
                false,
                false,
                "0px",
                "0px",
            );
            fnsbooking.show();
        } else {
            console.error("FNSbooking no se cargó correctamente");
        }
    });
</script>
