---
interface Section {
    title: string;
    content: string;
    image: string;
    alt: string;
}
const restaurantData = await Astro.glob("../../content/restaurant-info.md");
const { frontmatter } = restaurantData[0];
const sections = frontmatter.sections as Section[];
---

<div class="w-[85%] restaurant-info">
    {
        sections.map((section) => (
            <div class="info-item flex max-md:flex-wrap items-center justify-center gap-[10px]">
                <div class="w-[50%] max-md:w-[90%] flex justify-center items-center">
                    <div class="texto p-[17px] w-[100%]">
                        <p class="text-letra text-start text-gray-500 text-[15.6px]">
                            {section.content}
                        </p>
                    </div>
                </div>
                <div class="w-[50%] flex justify-center items-center">
                    <img
                        src={section.image}
                        alt={section.alt}
                        loading="lazy"
                    />
                </div>
            </div>
        ))
    }
</div>

<style>
    .info-item {
        margin-bottom: 28px;
    }
    .text-letra {
        font-family: var(--font-family-poppins);
    }

    .info-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .info-item:nth-child(even) .texto {
        border-top: 1px solid #d4af37;
        border-left: 1px solid #d4af37;
    }
    .info-item:nth-child(odd) .texto {
        border-bottom: 1px solid #d4af37;
        border-right: 1px solid #d4af37;
    }
</style>
