---
import ExperienceDetail from "./ExperienceDetail.astro"
---

<section class="flex flex-col justify-center items-center text-center my-[80px] mx-auto">
    <h2 class="title title--feature">Nos enfocamos en hacer que su experiencia gastronomica sea extraordinaria!</h2>
    <ExperienceDetail />
</section>

<style>
  
    .title--feature{
        font-size: 26px;
        margin-bottom: 70px;
        font-weight: 300;
        color:#CEAD2F;
    }


</style>