---
import { Image } from "astro:assets";
import LogoInterra from "../../assets/images/Logo-Interra.webp";
import InterraIntro from "../../assets/images/Interra-intro.webp"
---

<section class="flex flex-col justify-center items-center text-center mx-auto">
    <div class="flex flex-wrap justify-center items-center gap-[80px] p-[40px]">
        <div class="size-auto">
           <Image src={InterraIntro} alt="interra intro"/>
        </div>
        <div class="w-[31%] max-lg:w-[40%] max-md:w-[80%] flex flex-col items-center justify-center gap-[20px] p-[20px]">
            <Image src={LogoInterra} alt="Logo Interra" />

            <p class="resturant__parrafo text-gray-600">
                Nuestro restaurante <em>“In Terra”</em>, está ubicado en el
                nivel del lobby del hotel. Complementan la <strong
                    >arquitectura colonial</strong
                > de arcos románticos construidos con el método de piedra seca, mesas
                de travertino y cómodas sillas de fierro forjado. Usted puede disfrutar
                de un almuerzo ligero bajo la luz cálida del día, antes de tomar un
                tour por la ciudad. En la noche durante la cena, podrá sumergirse
                en la atmósfera tranquila y disfrutar de nuestro excelente servicio.
            </p>
            <a class="w-[240px] rounded-[5px] font-normal p-[12px] bg-[#C9A724] items-nav text-white" href="#">
                <i class="bi bi-file-earmark-pdf"></i>
                Descarga nuestra Carta
            </a>
        </div>
    </div>
</section>

<style>
    .resturant__parrafo {
        margin-top: 20px;
        font-family: var(--font-family-poppins);
    }
</style>
